body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #3c8b7b, #114a65);
    color: #333;
    line-height: 1.6;
    transition: background 1s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    background: linear-gradient(13deg, #4d5b61, #092c34);
    height: 55px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 20px rgba(245, 240, 240, 0.2);    
    transition: box-shadow 0.2s ease-in-out;
    display: flex;
    align-items: center;
    margin: 0; /* Ensure no margin */
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Ensure padding for inner content */
}

.logo {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 30px;
    border: 2px solid #F39C12;
    transition: all 0.4s ease;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.nav-links a:hover {
    background-color: #F39C12;
    color: #2C3E50;
    transform: translateY(-2px);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 8px; 
    border: 2px solid #F39C12;
    border-radius: 20%;
    transition: all 0.3s ease;
}

.hamburger:hover {
    background-color: rgba(243, 156, 18, 0.2);
    box-shadow: 0 0 10px rgba(243, 156, 18, 0.6);
    transform: scale(1.1);
}

.hamburger .bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.side-menu {
    position: fixed;
    top: 10%;
    right: 10px;
    height: 60%;
    width: 250px; 
    background-color: #2C3E50; 
    padding-top: 30px;
    z-index: 1000;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(110%);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    overflow-y: auto; 
    border-radius: 10px;
    overflow-y: auto; 
}

.side-menu.show {
    transform: translateX(0);
    animation: slideIn 0.5s ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    animation: none;
}

.close-btn {
    position: absolute;
    top: 1px;
    right: 15px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    z-index: 1001;
    overflow: hidden;
}

.close-btn:hover {
    transform: rotate(90deg);
    color: #F39C12;
}

.side-menu a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: large;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px; 
    margin: 10px 0;
    transition: all 0.9s ease; 
    background-color: rgba(255, 255, 255, 0.1); 
    position: relative;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
}

.side-menu a:hover {
    color: #2C3E50; 
    transform: translateX(-5px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.side-menu a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F39C12;
    z-index: -1;
    transition: left 0.3s ease;
}

.side-menu a:hover::before {
    left: 0;
}

.faculty-directory {
    padding: 80px 40px;
    text-align: center;
    color: #fff;
}

.faculty-directory h1 {
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    opacity: 0;
    animation: fadeIn 1ms ease-in-out forwards;
}


.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#searchButton {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #555;
}


#search-button img {
    width: 20px;
    height: 20px;
}

#faculty-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex: 1;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(13deg, #4d5b61, #092c34);
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    transition: all 0.5s ease;
    z-index: 1; /* Ensure it's below textarea */
}

.card:hover::before {
    top: -30%;
    left: -30%;
    width: 160%;
    height: 160%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card h3, .card p {
    text-align: center;
    margin: 5px 0;
}

.card p.availability {
    font-weight: bold;
    color: #ff0000; /* Red for unavailable */
}

.card p.availability.available {
    color: #00ff00; /* Green for available */
}

.card textarea {
    width: calc(100% - 20px); /* Adjust width to prevent overflow */
    height: 50px;
    margin: 10px auto; /* Center the textarea */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    resize: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: text; /* Change cursor to text */
    position: relative; /* Ensure proper layering */
    z-index: 10; /* Above ::before */
    pointer-events: auto; /* Ensure it's clickable */
}

.card textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
    outline: none;
}

.card button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    position: relative; /* Ensure proper layering */
    z-index: 10; /* Above ::before */
    pointer-events: auto; /* Ensure it's clickable */
}

.card button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.message-label {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}

#no-results-message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 75px;
    color: #ffffff;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
    font-family: 'Playfair Display', serif;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#no-results-message:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #2C3E50; /* Match the background color from home.css */
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto; /* Ensure footer stays at the bottom */
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-columns div {
    flex: 1;
    margin: 10px;
}

.footer-columns .col-links ul {
    list-style: none;
    padding: 0;
}

.footer-columns .col-links ul li {
    margin: 5px 0;
}

.footer-columns .col-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-columns .col-links ul li a:hover {
    color: #F39C12;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
        padding: 6px;
    }

    .navbar {
        padding: 6px 0;
    }

    .side-menu {
        width: 200px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
    }

    .footer-columns div {
        margin: 10px 0;
    }
}

/* Circle indicator for availability */
.availability-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto; /* Push to the right */
    border: 2px solid #ccc;
}

/* Green for available */
.availability-indicator.available {
    background-color: #28a745; /* Green */
    border-color: #000000;
}

/* Red for unavailable */
.availability-indicator.unavailable {
    background-color: #dc3545; /* Red */
    border-color: #000000;
}

/* Message input box */
.message-box {
    width: calc(100% - 20px);
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* Message input box */
.message-box {
    width: calc(100% - 20px);
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    position: relative; /* Ensure it is positioned above other elements */
    z-index: 10; /* Make sure it's above other elements */
}

/* Send button */
.send-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
    position: relative; /* Ensure it is positioned above other elements */
    z-index: 10; /* Make sure it's above other elements */
}

.send-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.send-button:active {
    transform: scale(0.98);
}

